$color-primary-0: #90A437;	// Main Primary color */
$color-primary-1: #E7F6A4;
$color-primary-2: #BACD66;
$color-primary-3: #687B14;
$color-primary-4: #435200;

$color-complement-0: #71266E;	// Main Complement color */
$color-complement-1: #AA71A7;
$color-complement-2: #8D478A;
$color-complement-3: #550E52;
$color-complement-4: #390036;

$body: #262626;
$main-text: #F0F0F0;